.footer {
  background-color: $color-dark;
  padding: 30px 0;
}

.footer__inner {
  @include inner;
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrigt {
  color: $color-light;
}
