.form-order {
  display: flex;
  flex-wrap: wrap;
  margin: 70px auto 0;
  width: 66.66%;
  gap: 30px;
}

.form-order__field {
  width: 100%;
  // background-color: grey;
}

.form-order__field--half {
  width: calc(50% - 15px);
}

.form-order__input,
.form-order__textarea {
  padding: 20px;
  width: 100%;
  background-color: $color-light;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.form-order__label {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: $color-orange;
 }

 .form-order__textarea {
  resize: vertical;
  font-family: $font;
 }
