.promo {
  background-color: rgba($color-light, 0.2);
  padding: 136px 0;

  @media(max-width: $tablet-max) {
    padding: 90px 0;
  }

  @media(max-width: $mobile-max) {
    padding: 60px 0;
    text-align: center;
  }
}

.promo__inner {
  @include inner;
}

.promo__wrap {
  display: flex;
  gap: 30px;

  @media(max-width: $mobile-max) {
    display: block;
  }
}

.promo__content {
  flex-basis: calc(50% - 30px / 2);
  flex-shrink: 0;

  .btn {
    @media(max-width: $mobile-max) {
      display: none;
    }
  }
 }


.promo__title {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $color-orange;

  span {
    display: block;
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 300;
    font-size: 116px;
    line-height: 100%;
  }

}

.promo__visual {
  flex-basis: calc(50% - 30px / 2);
  flex-shrink: 0;

  .btn {
    display: none;
    @media(max-width: $mobile-max) {
      display: inline-block;
    }
  }

}
