.promo {
  background-color: rgba($color-light, 0.2);
  padding: 136px 0;
}

.promo__inner {
  @include inner;
}

.promo__wrap {
  display: flex;
  gap: 30px;
}

.promo__content {
  width: calc(50% - 30px / 2);
}

.promo__title {
  margin-bottom: 70px;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: $color-orange;

  span {
    display: block;
    margin-bottom: 20px;
    font-family: $font-title;
    font-weight: 300;
    font-size: 116px;
    line-height: 100%;
  }

}




.promo__visual {
  width: calc(50% - 30px / 2);

}
