.service-card {

  height: 100%;
}

.service-card__icon {
  display: block;
  margin-bottom: 32px;
  width: 80px;
  height: 56px;
  // border: 1px solid;
  background-repeat: no-repeat;
  background-size: contain;

}

.service-card__icon--mw {
  background-image: url('../images/icon-mw.svg');
}

.service-card__icon--phone {
  background-image: url('../images/icon-phone.svg');
}

.service-card__icon--speaker {
  background-image: url('../images/icon-speaker.svg');
}

.service-card__icon--wood {
  background-image: url('../images/icon-wood.svg');
}



.service-card__title {
  font-family: $font-title;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 30px;
}

.service-card__text {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
}
