@mixin inner() {
  max-width: 1278px + 30px; // компенсируем
  padding: 0 15px;
  border: 2px solid red;
  margin: 0 auto;
}

@mixin section-title() {
  color: $color-orange;
  font-family: $font-title;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  text-align: center;

   @media(max-width: $tablet-max) {
    font-size: 48px;
  line-height: 56px;
  }

  @media(max-width: $mobile-max) {
    font-size: 32px;
  line-height: 38px;
  }
}
