// Fonts
$font: 'Open Sans', sans-serif;

$font-title: 'Raleway', sans-serif;

// colors
$color-dark: #152B3C;
$color-light: #FBF2DA;
$color-orange: #D46240;
$color-white: #FFFFFF;

// indents

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$mobile-max: $tablet - 1px;
$tablet-max: $desktop - 1px;
